body{
    margin: 0px;
    background-color: black;
    width: 100vw;
    height: 100vh;
    background-image: url(images/home.jpg);
    background-position: center;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-content: flex-end;
    width: 75%;
    margin: 0px;
}

.nav-item{
    height: 25vw;
    width: 25vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
}

#contact {
    background-image: url(images/contact.jpg);
}

#portfolio {
    background-image: url(images/portfolio.jpg);
}

#about{
    background-image: url(images/about%20me.jpg);
}

.nav-words{
    display: flex;
    justify-content: center;
    font-family: 'Lato-light', sans-serif;
    font-size: 39px;
}

#logo{
    position: fixed;
    width: 50%;
    top: 10%;
    left: 40px;
}

#logo-words{
    color: white;
    font-family: 'Lato-Light', sans-serif;
    position: fixed;
    top: 30%;
    left: 15%;
}
