body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(images/home.jpg);
    background-position: center;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-color: black;
}

nav{
    display: flex;
    align-content: flex-end;
    width: 75%;
    margin: 0px;
}

.nav-item{
    height: 25vw;
    width: 25vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 250px;
}

#contact {
    background-image: url(images/contact.jpg);
}

#portfolio {
    background-image: url(images/portfolio.jpg);
}

#about{
    background-image: url(images/about%20me.jpg);
}

.nav-words{
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 39px;
    transition-property: color;
    transition-duration: .5s;
    transition-delay: .1s;
}

.nav-words a {
    text-decoration: none;
}

#logo{
    position: fixed;
    width: 50%;
    top: 10%;
    left: 40px;
}

p a:visited{
    color: black;
}

a {
    color: black;
}

#contact:hover {
    transition: background-image .5s;
    background-image: url(images/contact-tran1.jpg);
}

#portfolio:hover {
    transition: background-image .5s;
    background-image: url(images/home2.jpg);
}

#about:hover {
    transition: background-image .5s;
    background-image: url(images/about-me-tran.JPG);
}

a:hover{
    color: white;
    transition-property: color;
    transition-duration: .5s;
}

