body{
    margin: 0px;
    padding: 0px;
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
}

.grey{
    background-color: #3A3A3A;
}

nav{
    display: flex;
    color: white;
    background-image: url(images/nav.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    background-color: black;
    align-items: flex-end;
}

ul{
    z-index: 1;
    margin: 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    background-color: rgba(85, 85, 85, 0.5);
    height: 40px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

li a {
    text-decoration: none;
}

li a:visited {
    color: white;
}

.headers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.home-logo{
    background-image: url(images/usethis-logo.svg);
    width: 40%;
    height: 20%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;


}

#about-me-body{

}

#me-1{
    width: 25%;
    height: 25%;
    margin: 20px;
}

#about-me-body{
  color: white;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    padding: 20px;
    width: 80%
}

#me-2{
    width: 25%;
    height: 25%;
    margin: 20px;
}

main{
    display: flex;
}

#about-me-line{
    background-color: whitesmoke;
    height: 100vw;
    width: 25%;
    z-index: 2;
    padding: 20px;
    position: relative;
    top: 0;
    margin-left: 20px;
    margin-top: 10px;
    height: 80%;
}

#about-me-line-image{
    width: 90%;
    position: relative;
    top: 4%;
    padding: 4%;
}

.about-me-information{
    width: 90%;
    position: relative;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 300;
}

h3{
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 300;
}

h1{
    margin-left: 25%;
}

#portfolio-images{
    display: flex;
    align-content: flex-start;
    width: 100%;
    padding: 10px 0px;
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.column{
    width: 30%;
}

a{
    color: white;
}

h2{
    text-align: center;
    margin: 0px;
    font-family: 'lato', sans-serif;
    color: white;
    font-weight: 300;
}

.about-me-titles{
    background-color: black;
    width: 40%;
}

#skills-ps{
    width: 88.5%;
    height: 100%;
    background-color: black;
}

#skills-id{
    width: 90%;
    height: 100%;
    background-color: black;
}

#skills-html{
    width: 85%;
    height: 100%;
    background-color: black;
}

.skills-box{
    z-index: 1;
    width: 170px;
    height: 20px;
    background-color: white;
    border: solid black 2px;
}

@media only screen and (max-width:600px){


    .skills-box{
        width: 100px
    }

    li{
        font-size: 20px;
    }

    #portfolio-images{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10px 0px;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

    .column{
        width: 100vw;
    }

}




